<header class="header">
  <div class="header-content">
    
    <!-- Espaço esquerdo (pode estar vazio ou ter usuário) -->
    <div class="left">
      <a routerLink="/minha-conta" class="user-info">
          <i class="username"></i> Minha Conta
        </a>
    </div>

    <!-- Logo central -->
    <div class="center">
      <a routerLink="/" class="logo-link">
        <img src="assets/logo.png" alt="CEFET MARKET" class="logo">
      </a>
    </div>

    <!-- Carrinho à direita -->
    <div class="right">
      <a routerLink="/checkout" class="cart">
        <i class="fas fa-shopping-cart"></i> Carrinho
      </a>
    </div>
  </div>
</header>

<div class="minha-conta-container">
    <div class="user-header">
      <h1>Minha Conta</h1>
      <div class="user-info">
        <h2>{{usuario.name}}</h2>
        <h2>{{usuario.email}}</h2>
      </div>
    </div>
  
    <div class="account-options">
      <!-- Suas Informações -->
      <div class="option-card" [routerLink]="['/dados-pessoais']">
        <div class="option-content">
          <h3>Suas Informações</h3>
          <p>Nome de preferência e dados para te identificar</p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>
 
      <!-- Meus Pedidos -->
      <div class="option-card" [routerLink]="['/seus-pedidos']">
        <div class="option-content">
          <h3>Meus Pedidos</h3>
          <p>Pedidos que estão à caminho e pedidos com pagamentos para renovar</p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>
  
      <!-- Minhas Vendas -->
      <div class="option-card" *ngIf="isSeller || isAdmin" [routerLink]="['/listagem-produto']">
        <div class="option-content">
          <h3>Minhas Vendas</h3>
          <p>Meus produtos de vendas</p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>

      <div class="option-card" *ngIf="isAdmin" [routerLink]="['/listagem-usuario']">
        <div class="option-content">
          <h3>Usuários</h3>
          <p>Gerenciador de usuários</p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>
  
      <!-- Trocar de Conta -->
      <div class="option-card" routerLink="/login">
        <div class="option-content">
          <h3>Trocar de Conta</h3>
          <p>Mude o usuário</p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>

      <!-- Sair -->
      <div class="option-card logout" (click)="logout()">
        <div class="option-content">
          <h3>Sair</h3>
          <p>Log-out de conta</p>
        </div>
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>