<div class="listagem-usuario-container">
    <header class="header">
        <div class="header-content">
          
          <!-- Espaço esquerdo (pode estar vazio ou ter usuário) -->
          <div class="left">
            <a routerLink="/minha-conta" class="user-info">
                <i class="username"></i> Minha Conta
              </a>
          </div>
      
          <!-- Logo central -->
          <div class="center">
            <a routerLink="/" class="logo-link">
              <img src="assets/logo.png" alt="CEFET MARKET" class="logo">
            </a>
          </div>
      
          <!-- Carrinho à direita -->
          <div class="right">
            <a routerLink="/checkout" class="cart">
              <i class="fas fa-shopping-cart"></i> Carrinho
            </a>
          </div>
        </div>
      </header>

    <main class="listagem-usuario-content">
        <h2>Lista de Usuário</h2>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cargo</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.nome }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <select [(ngModel)]="user.cargo">
                                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                            </select>
                        </td>
                        <td class="actions">
                            <button class="save-button" (click)="saveRole(user)">salvar</button>
                            <button class="delete-button" (click)="deleteUser(user.id)">
                                Deletar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>