<header class="header">
    <div class="header-content">
      
      <!-- Espaço esquerdo (pode estar vazio ou ter usuário) -->
      <div class="left">
        <a routerLink="/minha-conta" class="user-info">
            <i class="username"></i> Minha Conta
          </a>
      </div>
  
      <!-- Logo central -->
      <div class="center">
        <a routerLink="/" class="logo-link">
          <img src="assets/logo.png" alt="CEFET MARKET" class="logo">
        </a>
      </div>
  
      <!-- Carrinho à direita -->
      <div class="right">
        <a routerLink="/checkout" class="cart">
          <i class="fas fa-shopping-cart"></i> Carrinho
        </a>
      </div>
    </div>
  </header>
            <section class="gallery">
                <div class="thumbnails">
                    <div class="thumb">foto_produto</div>
                    <div class="thumb">foto_produto</div>
                    <div class="thumb">foto_produto</div>
                </div>
                <div class="main-photo">foto_produto</div>
            </section>

<main>
    <section class="gallery">
        <div class="thumbnails">
            <div class="thumb">foto_produto</div>
            <div class="thumb">foto_produto</div>
            <div class="thumb">foto_produto</div>
        </div>
        <div class="main-photo">foto_produto</div>
    </section>

    <section class="product-info">
        <h2>nome_produto</h2>
        <p class="description">
            descrição produto descrição produto descrição produto descrição produto
            descrição produto descrição produto descrição produto descrição produto
            descrição produto descrição produto descrição produto descrição produto
        </p>
        <p class="vendendor">nome_vendedor</p>
        <div class="shipping">
            <span>Envia para:</span>
            <span>nome_cidade <i class="fas fa-map-marker-alt"></i></span>
        </div>

        <div class="quantity-stock">
            <div class="quantity-selector">
                <button (click)="decreaseQuantity()">-</button>
                <input type="number" [(ngModel)]="productQuantity" min="1">
                <button (click)="increaseQuantity()">+</button>
            </div>
            <span class="stock">Estoque: <strong>20 unidades</strong></span>
        </div>
        <button class="buy-btn">Comprar Agora</button>
        <button class="cart-btn">Adicionar ao carrinho</button>
    </section>
</main>

<section class="comments">
    <h3>Comentários/Avaliações
        <span class="stars">
            &#9733; &#9733; &#9733; &#9733; &#9734;
        </span>
    </h3>
    <textarea placeholder="Escreva um comentário..."></textarea>
</section>