<div class="orders-container">
  <header class="header">
    <div class="header-content">
      
      <!-- Espaço esquerdo (pode estar vazio ou ter usuário) -->
      <div class="left">
        <a routerLink="/minha-conta" class="user-info">
            <i class="username"></i> Minha Conta
          </a>
      </div>
  
      <!-- Logo central -->
      <div class="center">
        <a routerLink="/" class="logo-link">
          <img src="assets/logo.png" alt="CEFET MARKET" class="logo">
        </a>
      </div>
  
      <!-- Carrinho à direita -->
      <div class="right">
        <a routerLink="/checkout" class="cart">
          <i class="fas fa-shopping-cart"></i> Carrinho
        </a>
      </div>
    </div>
  </header>
  
    <main class="orders-content">
      <h2>Seus Pedidos:</h2>
  
      <div class="order-list">
        <div class="order-card" *ngFor="let pedido of pedidos">
          <div class="order-details">
            <div class="product-name">
              <strong>{{ pedido.nomeProduto }}</strong> </div>
            <div class="info-row">
              <span>Preço:</span>
              <span>R${{ pedido.preco | number:'1.2-2' }}</span> </div>
            <div class="info-row">
              <span>Quantidade:</span>
              <span>{{ pedido.quantidade }}x</span>
            </div>
          </div>
          <div class="order-status">
            <span class="status-label">Status:</span>
            <span class="status-value status-{{ getStatusClass(pedido.status) }}">{{ pedido.status }}</span>
          </div>
          <div class="order-actions">
            <button class="show-product-button" [routerLink]="['/detalhe']"> Mostrar Produto
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>