<header class="header">
    <div class="header-content">
      
      <!-- Espaço esquerdo (pode estar vazio ou ter usuário) -->
      <div class="left">
        <a routerLink="/minha-conta" class="user-info">
            <i class="username"></i> Minha Conta
          </a>
      </div>
  
      <!-- Logo central -->
      <div class="center">
        <a routerLink="/" class="logo-link">
          <img src="assets/logo.png" alt="CEFET MARKET" class="logo">
        </a>
      </div>
  
      <!-- Carrinho à direita -->
      <div class="right">
        <a routerLink="/checkout" class="cart">
          <i class="fas fa-shopping-cart"></i> Carrinho
        </a>
      </div>
    </div>
  </header>

    <main class="list-container">
        <h2>Lista de Produtos</h2>
    
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>preço</th>
                        <th>estoque</th>
                        <th>categoria</th>
                        <th>ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of produtos">
                        <td>
                            <input [(ngModel)]="produto.nome" type="text">
                        </td>
                        <td>
                            <input [(ngModel)]="produto.preco" type="text">
                        </td>
                        <td>
                            <input [(ngModel)]="produto.estoque" type="number">
                        </td>
                        <td>
                            <input [(ngModel)]="produto.categoria" type="text">
                        </td>
                        <td>
                            <button class="edit-btn save-btn" (click)="salvarProduto(produto)">salvar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="novo-produto" (click)="irParaCadastro()">+ Novo Produto</button>
        </div>
    </main>